.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #343a40;
    padding: 15px 7%;
}

.logo{
    width: 200px;  
    height: 80px;                ;
    cursor: pointer;
}

.unordered_list{
    color: white ;
    flex: 1; 
    list-style: none;
    text-align: center;

}

.single{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
 
.single:hover{
    color: orangered;

}