.content_box {
    box-sizing: border-box;
    width: 100%;  /* or use a fixed width like 1200px */
    margin: 0 auto; /* Centers the content */
    overflow: hidden; /* Prevents horizontal scrolling */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.StickyFooter {
margin-top: auto;
}

